<% /* eslint-disable */ %>
<%- include("header") -%>


  <section id="toolkit">
    <div class="toolkitcontainer">
      <div class="controlcontainer">
        <div class="controls">

          <div class="checkbox-group">
            <h3>TASK FOCUS</h3>
            <label for="infogather">
              <div class="checkbox">
                <input id="infogather" class='info-orange' type="checkbox" value=".infogather" data-category="Information Gathering" />
                Information Gathering
              </div>
            </label>
            <label for="analysis">
              <div class="checkbox">
                <input id="analysis" class="analysis-orange " type="checkbox" value=".analysis" data-category="Problem Analysis" />
                Problem Analysis
              </div>
            </label>
            <label for="opportunity">
              <div class="checkbox">
                <input id="opportunity" class="opportunity-blue" type="checkbox" value=".opportunity" data-category="Opportunity Analysis" />
                Opportunity Analysis
              </div>
            </label>
            <label for="ideation">
              <div class="checkbox">
                <input id="ideation" class="ideation-blue" type="checkbox" value=".ideation" data-category="Ideation / Evaluation" />
                Ideation / Evaluation
              </div>
            </label>
            <label for="stratdev">
              <div class="checkbox">
                <input id="stratdev" class="dev-peach" type="checkbox" value=".stratdev" data-category="Strategy Development" />
                Strategy Development
              </div>
            </label>
            <h3>SUB-CAPABILITY</h3>
            <label for="busstrat">
              <div class="checkbox">
                <input id="busstrat" class="bus-grey" type="checkbox" value=".busstrat" data-category="Business Strategy" />
                Business Strategy
              </div>
            </label>
            <label for="expstrat">
              <div class="checkbox">
                <input id="expstrat" class="exp-purple" type="checkbox" value=".expstrat" data-category="Experience Strategy" />
                Experience Strategy
              </div>
            </label>
            <label for="stratfore">
              <div class="checkbox">
                <input id="stratfore" class="fore-purple" type="checkbox" value=".stratfore" data-category="Strategic Foresight" />
                Strategic Foresight
              </div>
            </label>
            <h3>APPLICATION</h3>
            <label for="coretool">
              <div class="checkbox">
                <input id="coretool" class="core-purple" type="checkbox" value=".coretool" data-category="Core Tool" />
                Core Tool
              </div>
            </label>
            <label for="secondary">
              <div class="checkbox">
                <input id="secondary" class="sec-blue" type="checkbox" value=".secondary" data-category="Secondary Tool" />
                Secondary Tool
              </div>
            </label>
            <label for="collaboration">
              <div class="checkbox">
                <input id="collaboration" class="collab-green" type="checkbox" value=".collaboration" data-category="Client Collaboration" />
                Client Collaboration
              </div>
            </label>
          </div>
        </div>
      </div>

      <div id="Container" class="container">
        <% tools.forEach(function(tool) { %>
          <div class="mix toolcard
           <% tool.tags.forEach(function(tag) { %>
             <%= tag.class %>
           <% }) %>
          " type="button" onclick="location.href='<%=process.env.BASE_URL%>/tool/<%=tool._id%>';" data-content="
          <% tool.tags.forEach(function(tag) { %>
            <%= tag.text %>
          <% }) %>
          ">
            <div class="toolcard-content">
              <h2 class="cardtitle"><%=tool.title%></h2>

            </div>
            <div class="cat-marker">
              <% tool.tags.forEach(function(tag) { %>
                <span class="<%= tag.class %>"></span>
              <% }) %>
            </div>
          </div>

        <% }) %>
      </div>


  </section>

</main>



<%- include("footer") -%>
